* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: #eee;
}
.clear{
    clear: left;
}
.hide{
    display: none;
}
.my-btn{
    margin-top: 10px;
}
.wrap-card-box{
    background: #ffffff;
    max-width: 900px;
    margin: 0 auto;

}
.container{
    padding: 3em;
    margin: 0 auto;
    max-width: 725px;

}
.card-container{
    max-width: 725px;
    padding: 1em;
    margin: 0 auto;
}
.typing.animate {
    width: 21ch;
    border-right: 0.1em solid black;
    font-family: monospace;
    font-size: 2em;
    animation: type 2.5s steps(20), writer 1s infinite alternate, delete 0.5s steps(5) 2.5s, type2 1s steps(4) 3s forwards, type3 3s steps(22, end) 6s forwards;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 70px;
}

.typing.animate::before {
    content: "잘 왔어! 난 산할아버지";
    animation: type2 1s steps(4) 3s forwards, type3 3s steps(22, end) 6s forwards;
}
+
@keyframes type {
    from {
        width: 0;
    }
    to {
        width: 21ch;
    }
}

@keyframes type2 {
    from {
        width: 16ch;

        content: "잘 왔어! 난 산하야! "
    }
    to {
        width: 20ch;
        content: "잘 왔어! 난 산하야! "
    }
}

@keyframes type3 {
    from {
        width: 20ch;
        content: "잘 왔어! 난 산하야! 와줘서 정말 고마워:)   "
    }
    to {
        width: 42ch;
        content: "잘 왔어! 난 산하야! 와줘서 정말 고마워:)   "
    }
}

@keyframes writer {
    50% {
        border-color: transparent;
    }
}

@keyframes delete {
    from {
        width: 21ch;
    }
    to {
        width: 14ch;
    }
}